{% extends 'layout.html' %}
{% block title %}
Edit Book - Lib
{% endblock %}
{% block content %}
<h1> Edit {{book.title}} </h1>
<form method="post" class="form">
    <label for="title" class="form-label">Title:
        <input type="text" name="title" id="title" class="form-control" required value = "{{book.name}}"/>
    </label>
    <br> <!-- Add a line break here -->
    <label for="author" class="form-label">Author:
        <input type="text" name="author" id="author" class="form-control" required value = "{{book.author}}" />
    </label>
    <br> <!-- Add a line break here -->
    <label for="section" class="form-label">Section:
        <select name="section" id="section" class="form-select" required>
            {% for section in sections %}
                {% if section.id == book.section_id %}
                    <option value="{{ section.id }}" selected>{{ section.name }}</option>
                {% else %}
                    <option value="{{ section.id }}">{{ section.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </label>
    <br> <!-- Add a line break here -->
    <input type="submit" value="Save" class="btn btn-success">
</form>
{% endblock %}
{% block style %}
<style>
    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .form{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 30px;
    }
</style>
{% endblock %}